- @posts.each do |post|
  %tr
    %td
      %h5
        %a= link_to post.title, post_path(post)
      %p
        = truncate(strip_tags(post.body), omission: '...', separator: ' ', length: 70)
      %p
        By
        %strong= post.user.username
        at
        = local_time(post.created_at, '%d %B %Y, %l:%M %P')
