= title(@topic.title)
.container
  .row.row-custom
    - if user_signed_in?
      %p
        Logged in as
        %strong
          = current_user.username
        and may add posts or comments.
    %h2= @topic.title
    = render 'forums/posts'