= title('Search Results')
.container
  .row
    %ol.breadcrumb.pull-right
      %li= link_to 'Home', root_path
      %li= link_to 'Forum Main', forums_path
      %li Search
    %h2 Search Results in Posts
    - if @results.any?
      = render 'search/search_result'
    - else
      %p Sorry, there were no results matching your search terms.
    
      