%p.recipe-head
  Recipe Reviews
- if @reviews.count != 0
  - @reviews.each do |review|
    .stars
      - i = 0
      - while i < review.stars.to_i
        = image_tag "star-full.png"
        - i+=1
      - j = 0
      - open_star = 5 - review.stars.to_i
      - while j < open_star
        = image_tag "star-gray.png"
        - j+=1
    %strong
      = link_to review.username, user_path(review.user)
    said:
    %br/
    = review.body
- else
  %p There are no reviews for this recipe yet. Have you tried this recipe and want to reivew it? Sign up or login and add your voice!