=title(@recipe.title)
.container
  .row.row-custom
    #recipe-info
      .col-md-7
        = render 'recipes/recipe_main'
      .col-md-5
        = render 'recipes/recipe_img'
    = render 'recipes/reviews'
    .clearfix
      %p#print-link
        = link_to 'Print Recipe', "#", onclick: "printPage()", class: "btn btn-default btn-sm"