=title(@recipe.title)
.container
  .row
    #recipe-info
      .col-md-6
        = render 'recipes/recipe_main'
      .col-md-6.img-col
        = render 'recipes/recipe_img'
    = render 'recipes/reviews'
    .clearfix
      %p#print-link
        = link_to 'Print Recipe', "#", onclick: "printPage()", class: "btn btn-default btn-sm"