<%= title('All Users') %>

<div class="container">
  <div class="row row-custom">
    <h1>All Users</h1>
    <table class="all-users">
      <tr>
      <% @users.in_groups_of(4, false) do |group| %>
        <% group.each do |user| %>
        <td>
          <div class="avatar-wrap">
            <% if user.avatar.blank? || user.avatar == 'avatar-default.jpg' %>
              <%= image_tag "avatar-default.jpg" %>
            <% else %>
              <%= image_tag user.avatar.url(:thumb) %>
            <% end %>
          </div>
          <p class="username-wrap"><%= link_to user.username, user_path(user) %></p>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
    