= title('User Profile')
.container
  .row.row-custom.profile
    .col-md-6
      = render 'users/user_profile'
      = render 'users/user_recipe'
    .col-md-6
      = render 'users/user_posts'

      