= title('About Us')

.container
  .row.row-custom
    %h1 About RecipeBox
    %p This site caters to the home cook and "foodie" who faces any number of scenarios involving food preparation and events.
  
    %p It could be a casual, quiet dinner with family, an elaborate party with linens, fine china and silver, and multiple courses. Or perhaps a lunch with warmly inviting homemade soup and hearty sandwich. Or the perfect dessert to top off a supper. Or the perfect dish to bring to picnic or potluck.
  
    %p RecipeBox aims to bring together all who love food and the adventure of its preparation, creation and enjoyment.
  
    %p Home cooks from anywhere around the world can browse our recipes collection to get ideas, and they can share their own favorites or original creations. The recipe search allows you you browse the entire collection, by type of dish, or one or more ingredients.
  
    %p Besides the recipe search site, RecipeBox eventually will host a blog with site announcements, food tips and guest posts from cooks like you. A forum is also planned, where you can ask questions of the global community of cooks or provide guidance to others in their culinary pursuits.