= title('Privacy Policy')
.container
  .row.row-custom
    %h1 Privacy Policy
    %p Ipsum ut maecenas fusce lacus habitasse class amet cras mollis tincidunt cubilia torquent nullam nunc et justo senectus etiam gravida tempus. Parturient ligula Euismod nec lorem neque dictumst sapien per nascetur taciti. Massa integer lectus semper Hac vivamus primis.
    %p Magna aliquam et vitae venenatis imperdiet mi libero orci magnis aliquam magna facilisis diam felis consequat sed sociosqu. Vel porta accumsan dignissim varius, bibendum scelerisque, ad mi nibh. Hymenaeos, a justo vestibulum enim. Tellus cras scelerisque id. Torquent ligula. Vel est hendrerit. Viverra sociis maecenas ac nisl nunc, mauris urna, fames.
    %p Imperdiet ullamcorper turpis cras, vel vel. Enim vivamus porta adipiscing vehicula velit ipsum phasellus. Dis vel ullamcorper. Curabitur facilisi lectus. Sem sem donec hendrerit phasellus commodo. Varius dui. Quam aptent adipiscing nisl sociis potenti elit dictumst, elit non a lacinia at sapien hymenaeos enim etiam enim. Cubilia aliquam. Tristique magna ligula enim imperdiet nam mus fames tempor dui placerat eleifend. Fringilla arcu, pellentesque scelerisque Dui curabitur cum.
    %p Commodo diam dui. Vulputate ligula quisque faucibus nonummy consequat libero penatibus nam eros sapien nisi elit adipiscing aliquet dapibus felis ac. Sociis purus accumsan sociosqu senectus at porta tortor metus.
    %p Quisque posuere placerat litora vulputate. Mauris Habitasse malesuada libero, class habitasse id nunc neque justo mattis dictum pharetra praesent felis vestibulum platea purus tincidunt porta feugiat mi tortor volutpat vulputate pulvinar laoreet nisl in dui. Interdum nunc, porta nisi potenti erat hendrerit. Facilisis fringilla odio fames rutrum primis dictumst ac lorem nibh tortor libero.
    %p Integer taciti turpis nibh torquent felis eleifend in magnis nulla id. Ultrices. Pulvinar quis facilisi Elementum a tincidunt per ac suscipit tristique. Rhoncus Turpis, praesent ridiculus arcu.
    %p Pharetra tincidunt adipiscing gravida tristique ad aliquet porta Mattis bibendum sociis massa consectetuer sollicitudin a urna magna odio ad eleifend taciti. Aliquet. Dignissim facilisis placerat molestie et sit dis inceptos auctor.

