<% title('Search Recipes') %>

<div class="container">
   <div class="row row-custom">
      <h2 class="search-head">All Recipes</h2>
   </div>
   <h2 class="search-head">Popular Categories</h2>
   <div class="row">
      <div class="col-md-4 food-col">
         <i class="icon-spaghetti2 food-col-i"></i>
         <h3>Dinners</h3>
      </div>
      <div class="col-md-4 food-col">
         <i class="icon-tacosalad food-col-i"></i>
         <h3>Side Dishes</h3>
      </div>
      <div class="col-md-4 food-col">
         <i class="icon-salad food-col-i"></i>
         <h3>Salads</h3>
      </div>
   </div>
   <div class="row" id="second-row-cats">
      <div class="col-md-4 food-col">
         <i class="icon-chickenwhole food-col-i"></i>
         <h3>Meat Dishes</h3>
      </div>
      <div class="col-md-4 food-col">
         <i class="icon-vegbasket food-col-i"></i>
         <h3>Vegetable Dishes</h3>
      </div>
      <div class="col-md-4 food-col">
         <i class="icon-cakeslice food-col-i"></i>
         <h3>Desserts</h3>
      </div>
   </div>
</div>
   