 <div class="container-full" id="home-subhead">
   <h1>RecipeBox's Mission is simple...</h1>
   <div class="row" id="subhead"> 
      <div class="col-md-6">
         <h2>1. Discover</h2>
         <p>Provide a place for cooks worldwide to search for recipes and get new ideas for food every day. Get new ideas for your kitchen from our wide and varied recipe collection.</p> 
      </div>

      <div class="col-md-6">
         <h2>2. Share</h2>
         <p>Offer food enthusiasts a platform on which they can feature their own recipes. Register today to upload and share your favorite culinary creations!</p>
      </div>
   </div>
</div>
<hr>
   
   
