%ol.breadcrumb.pull-right
  %li
    = link_to 'Home', root_path
  %li
    = link_to 'Forum', forums_path
  %li
    %a{:href => "/topics/#{@post.topic.id}"}= @post.topic.title
  %li
    Post
.clearfix
= forum_signed_in