@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootsy';

header {
    width: 100%;
    background-color: #f4f4f4;
    height: 60px;
    
    h1 {
        float: left;
        margin-top: 8px;
    }
    
    form {
        margin-top: 12px;
    }
}

.forms-row, .row-custom, .panel-forum {
    padding: 10px 10% 25px 10%;
  }
  
h5 {
    font-size: 15px;
}

.clearfix {
    clear: both;
}

.microthumb {
    height: 55px;
    width: 55px;
}

.post-col-left,
.post-col-right {
   padding: 20px;
}

.post-col-left {
    text-align: center;
    span {
        font-size: 11px;
        line-height: 0.2px;
    }
}

#forum-body {
    padding-top: 15px;
}
