@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootsy';

header {
    width: 100%;
    background-color: #f4f4f4;
    padding-top: 10px;
    h1 {
        padding: 6px 0 2px 30px;
    }
}

#forum-welcome {
    padding: 12px 0 8px 0;
}


.forms-row, .row-custom, .panel-forum {
    padding: 10px 10% 25px 10%;
  }
  
h1 {
    padding-left: 70px
}

.clearfix {
    clear: both;
}

.microthumb {
    height: 55px;
    width: 55px;
}

.post-col-left,
.post-col-right {
   padding: 20px;
}

.post-col-left {
    text-align: center;
    span {
        font-size: 11px;
        line-height: 0.2px;
    }
}
