// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* recipe page */
    #print-link {
        margin-top: 15px;
    }
    
    .recipe-list td {
        padding: 5px !important;
    }
    
    .popular-cat {
      padding-bottom: 30px;
    }
