.ingredients {
   text-align: center;
   width: 75%;
   thead th {
      text-align: center;
   }
   tbody tr {
      border-top: none !important;
   }
}

#print-link {
   margin-top: 15px;
}

.stars {
    padding: 5px 0;
}

#recipe-image-area {
    img {
        width: 60%;
        text-align: center;
    }
    
    ul {
        list-style: none;
        
        li {
            list-style: none;
            border-radius: 50%;
            height: 55px;
            width: 55px;
            background-color: #000;
            display: inline-block;
            
            a {
                text-decoration: none;
                color: #fff;
                font-size: 30px;
                text-align: center;
                
                &:hover {
                    color: SkyBlue;
                }
                
                i {
                    display: inline-block;
                    padding: 12px;
                }
            }
        }    
    }
}
  
    
.recipe-list td {
   padding: 5px !important;
}
    
.popular-cat {
    padding-bottom: 30px;
}

#featured-header {
   font-size: 16px;
   font-weight: bold;
   margin-top: 50%;
   
   a:hover {
      text-decoration: none;
   }
}
   
   
