.ingredients {
   text-align: center;
   width: 75%;
   thead th {
      text-align: center;
   }
   tbody tr {
      border-top: none !important;
   }
}

#print-link {
   margin-top: 15px;
}

.stars {
    padding: 5px 0;
}
    
.recipe-list td {
   padding: 5px !important;
}
    
.popular-cat {
    padding-bottom: 30px;
}

#featured-header {
   font-size: 16px;
   font-weight: bold;
   margin-top: 50%;
   
   a:hover {
      text-decoration: none;
   }
}
   
   
