<footer class="footer">
      <div class="container">
          <div class="cold-md-6">
            <ul>
              <li><a href="#">Search Recipes</a></li>
              <li><a href="#">All Recipes</a></li>
              <%= link_to 'About Us', pages_about_path %>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-6 pull-right" id="social">
            <ul>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-pinterest"></i></a></li>
            </ul>
            <p>Icons from <a href="http://www.flaticon.com">Flaticon</a> and are used under a creative commons license.</p>
        </div>
      </div> <!-- footer container -->
    </footer>
  </body>
</html>